<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
/* gallary */
#gallary{
  width: 100%;
}
#gallary h1{
  text-align: center;
  color: black;
  margin-top: 60px;
  font-weight: bold;
}
#gallary h1 span{
  color: #b2744c;
}
#gallary .card{
  border-radius: 10px;
}
#gallary .card img{
  border-radius: 10px;
  cursor: pointer;
}
/* gallary */