
/* product */
.product{
  width: 100%;
  background: #f7f5f2;
  font-family: 'Roboto', sans-serif;
}
.heading4{
  text-align: center;
  color: #b2744c;
  font-size: 30px;
  font-weight: bold;
  padding-top: 70px;
  border-bottom: 2px solid #b2744c;
}
#container3{
  margin-top: 30px;
}
.product h3{
  text-align: center;
  color: #b2744c;
  font-size: 23px;
}
.product p{
  color: #b2744c;
  padding-top: 10px;
}
.product p span{
  float: right;
  cursor: pointer;
}
/* product */
